# ========================
# Rust & Cargo
# ========================
/target/
# NÃO ignoramos o Cargo.lock para binários!

# ========================
# Infraestrutura e Dados Locais (CRÍTICO)
# ========================
/postgres-data/
/mosquitto/data/
/mosquitto/log/

# ========================
# Segredos e Variáveis de Ambiente
# ========================
.env
.env.*

# ========================
# Arquivos de Teste Temporários
# ========================
rule.json
data.json

# ========================
# IDE / Sistema Operacional
# ========================
.vscode/
.idea/
.DS_Store